/functest.py
/pyLATTICE.pyperf
/pyLATTICE.pyproj
/pyLATTICE.sln
/pyLATTICE.v12.suo
/resources/.~lock.MineralDatabase.xlsx#
/gui/ui/pyLATTICE_GUI(old).ui
/resources/_diffspot_py2.pyx
/resources/_dspace_py2.pyx
/resources/diffspot.c
/resources/dspace.c
/resources/diffspot_py2.c
/resources/dspace_py2.c
/resources/win64/Csetup.py
/resources/win64/diffspot.c
/resources/win64/diffspot.pyx
/resources/win64/dspace.pyx
/settings.py
/matplotlibwidgetFile.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Spyder projects
.spyderproject

# Other files
dspacings.h5
README.txt
resources_py2/
build/
extra\ resources/
documentation/
setup.py
setup_win.py

# pyinstaller CX_freeze files
*.spec


